<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<!-- layout:decorate="~{fragments/layout}" fragments폴더 안에 있는 layout렌더링 -->
<head>
<meta charset="UTF-8">
<title>TheBooks</title>
</head>
<body>
	<!-- 	<th:block layout:fragment="content" /> -->
	<div layout:fragment="content">
		<div class="contanier m-5">
			<!-- <h3 class=" text-center p-3 ">게시판</h3> -->
			<table class="table table-header text-center ">
				<caption class="text-center">글 목록</caption>
				<thead>
					<tr>
						<td><i class="bi bi-balloon-heart m-1"></i>No</td>
						<td><i class="bi bi-brush m-1"></i>Title</td>
						<td><i class="bi bi-cast m-1"></i>Name</td>
						<td><i class="bi bi-calendar-event m-1"></i>Date</td>
						<td><i class="bi bi-book-half m-1"></i> Hit</td>
					</tr>
				</thead>
				<tbody>
				<!-- 1. th: each="한개, 상태  : 리스트" -->
				<!-- 2. th: text="동적으로 꺼내온데이터" -->
				<!-- 3. th: href="@{}" -->
					<tr th:each=" dto,state :${list}">
						<td th:text="${list.size() - state.index }"></td>
						<td><a th:href="@{|/board/detail/${dto.id}|}" th:text="${dto.btitle}"></a></td>
						<td th:text="${dto.member.username}"></td>
						<td th:text="${  #temporals.format( dto.createDate, 'yyyy-MM-dd HH:mm' ) }"></td> 
						<td th:text="${dto.bhit}"></td>
					</tr>
				</tbody>
			</table>

			<div class="d-flex justify-content-end m-3">
				<a th:href="@{/board/insert}"
					class="btn btn-success">글쓰기</a>
			</div>
		</div>
	</div>
</body>
</html>
