<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project001.board.BoardMapper">
	<resultMap  id="boardResultMap" type="Board">
		<id     	 property="id"  			column="id" />
		<result  	 property="btitle"  		column="btitle" />
		<result 	 property="bcontent"  		column="bcontent" />
		<result  	 property="bfile"  		    column="bfile" />
		<result  	 property="bip"  		    column="bip" />
		<result  	 property="bpass"  		    column="bpass" />
		<result  	 property="bhit"  		    column="bhit" />
		<result  	 property="createDate"  		    column="create_date" />
		<association property="member"   		javaType="Member">
			<id 	 property="id"				column="member_id" />
			<result  property="username"  	    column="member_username" />
			<result  property="nickname"  	    column="member_nickname" />
		</association>
	</resultMap>
	<select  resultMap="boardResultMap"  id="findAllPaged" >
		select 
			b.id , b.btitle, b.bcontent, b.bfile, b.bip , b.bpass, b.bhit , b.create_date,
			m.id  as  member_id , m.username as  member_username, m.nickname as member_nickname
		from    board  b left join member m on  b.member_id = m.id
		order   by     b.id desc
		limit   #{limit}  offset  #{offset}
	</select> 
	
	<select  resultMap="boardResultMap"  id="findAllByOrderedByDesc" >
		select 
			b.id , b.btitle, b.bcontent, b.bfile, b.bip , b.bpass, b.bhit , b.create_date,
			m.id  as  member_id , m.username as  member_username, m.nickname as member_nickname
		from    board  b left join member m on  b.member_id = m.id
		order   by     b.id desc
	</select> 	
	
	<select  resultMap="boardResultMap"  id="findById" >
		select 
			b.id , b.btitle, b.bcontent, b.bfile, b.bip , b.bpass, b.bhit , b.create_date,
			m.id  as  member_id , m.username as  member_username, m.nickname as member_nickname
		from    board  b left join member m on  b.member_id = m.id
		where   b.id = #{id}
	</select> 		
	
	<insert  id="insert"  parameterType="Board">
		insert   into  board( btitle,  bcontent,  bfile,  bip ,  bpass, bhit , member_id ) 
		values  ( #{btitle}, #{bcontent}, #{bfile}, #{bip} , #{bpass}, #{bhit} , #{member.id} )
	</insert>
	
	<update  id="updateByIdAndBpass"  parameterType="Board">
		update  board   set   btitle=#{btitle} , bcontent=#{bcontent}, bfile=#{bfile}
		where  id=#{id}  and  bpass=#{bpass}
	</update>
	
	<delete  id="deleteByIdAndBpass"  parameterType="Board">
		delete from board  where  id=#{id}  and  bpass=#{bpass}
	</delete>
	
</mapper>
