<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<!-- layout:decorate="~{fragments/layout}" fragments폴더 안에 있는 layout렌더링 -->
<head>
<meta charset="UTF-8">
<title>TheBooks</title>
</head>
<body>
	<!-- 	<th:block layout:fragment="content" /> -->
	<div layout:fragment="content">
		<div class="contanier m-5">
			<h3 class=" text-center p-3 ">게시판</h3>
			<!-- <div th:text="${list}"></div>
			<hr/>
			<div th:text="${paging}"></div> -->
			<table class="table table-header text-center ">
				<caption class="text-center">글 목록</caption>
				<thead>
					<tr>
						<td><i class="bi bi-balloon-heart m-1"></i>No</td>
						<td><i class="bi bi-brush m-1"></i>Title</td>
						<td><i class="bi bi-cast m-1"></i>Name</td>
						<td><i class="bi bi-calendar-event m-1"></i>Date</td>
						<td><i class="bi bi-book-half m-1"></i> Hit</td>
					</tr>
				</thead>
				<tbody>
					<tr th:each=" dto, state :${list}">
						<td
							th:text="${list.getTotalElements - ( list.number * list.size ) - state.index }"></td>
						<td><a th:href="@{|/board/detail/${dto.id}|}"
							th:text="${dto.btitle}"></a></td>
						<td th:text="${dto.member.username}"></td>
						<td
							th:text="${  #temporals.format( dto.createDate, 'yyyy-MM-dd HH:mm' ) }"></td>
						<td th:text="${dto.bhit}"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="5">
							<ul class="pagination justify-content-center">
								<!--  이전 -->
								<!-- paging / current=1, start=1, end=10 -->
								<!--  1 2 3 4 5 6 7 8 9 10 -->
								<!--  다음 -->
								<li class="page-item"
									th:if="${paging.start >= paging.bottomlist}">
									<a class="page-link" th:href="@{/board/list(page=${paging.start-2})}"><span>이전</span></a>
								</li>
								<li th:each="i : ${ #numbers.sequence(paging.start, paging.end, 1) }" 
									th:classappend="${paging.current == i } ?active">
									<a th:text="${i} " class="page-link" th:href="@{/board/list(page=${i-1})}"></a>
								</li>
								<li class="page-item" th:if="${paging.pageTotal > paging.end}">
									<a class="page-link" th:href="@{/board/list(page=${paging.end})}"><span>다음</span></a>
								</li>
							</ul>
						</td>
					<tr>
				</tfoot>
			</table>

			<div class="d-flex justify-content-end m-3">
				<a th:href="@{/board/insert}" class="btn btn-success">글쓰기</a>
			</div>

		</div>
	</div>
</body>
</html>
