<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/fragments/layout}">
<!-- layout:decorate="~{fragments/layout}" fragments폴더 안에 있는 layout렌더링 -->
<head>
<meta charset="UTF-8">
<title>TheBooks</title>
</head>
<body>
	<div layout:fragment="content">
			<div class="contanier p-5"
				style="margin-left: 100px; margin-right: 100px;">
				<h3 class="card-header">삭제하기</h3>
				<form th:action="@{/board/delete}" method="post"
					onsubmit="return form()">
					<div class="mb-3 mt-3">
						<label for="bpass" class="form-label">비밀번호: </label> 
						<input type="text" class="form-control" id="bpass" name="bpass"> 
						<input type="hidden" class="form-control" id="id" name="id" th:value="${id}">
					</div>
					<div class="d-flex justify-content-end m-3">
						<button type="submit" title="삭제하기" class="btn btn-success m-1">삭제</button>
						<a th:href="@{/board/list}" class="btn btn-outline-success m-1"> 취소 </a> 
						<a th:href="@{/board/list}" class="btn btn-outline-success m-1"> 목록보기 </a>
					</div>
				</form>
				<script>
					function form() {
						let pass = document.querySelector("#bpass");

						if (pass.value == "") {
							alert('비밀번호를 입력해주세요.');
							pass.focus();
							return false;
						};
					}
				</script>
			</div>
		</div>
</body>
</html>
