<!DOCTYPE html>
<html  lang="ko"     xmlns:th="http://www.thymeleaf.org"  
		             xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
					 layout:decorate="~{fragments/layout}"
><!--  layout:decorate="~{fragments/layout}"   fragments폴더안에  layout 렌더링 -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 	<!-- layout.html	<th:block  layout:fragment="content"   /> -->
 	<div layout:fragment="content"> content </div>
 	
</body>
</html>
<!--  localhost:8181/boot1/test3   호출 -->