<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project001.dao.AuthDao">

	<resultMap type="AuthDto" id="authMap">
		<id property="userid" column="userid" />
		<result property="auth" column="auth" />
	</resultMap>

	<!-- 조인할 때는 resultMap 사용 -->
	<resultMap type="UserDto" id="userMap">
		<!-- id = 기본키 -->
		<id property="userid" column="userid" />
		<result property="userpw" column="userpw" />
		<collection property="authList" resultMap="authMap" />
		<!-- UserDto라는 entity에 userid -->
		<!-- property는 entity안 필드명, column은 테이블상 필드명 -->
	</resultMap>

	<select resultMap="userMap" id="readAuth" parameterType="UserDto">
		select m.userid, userpw, auth
		from users m left join authorities a on m.userid = a.userid
		where m.userid=#{userid};
	</select>
	<!-- resultMap의 id와 select의 resultMap이 매핑되도록하기 -->

</mapper>